# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Build and Distribution
dist/
build/
_internal/
*.exe
*.zip

# Backups and Temp
*.bak
*.old
*.tmp

# Environment
env/
venv/
.env
.venv/
.vscode/
.idea/
.gemini/

# App Specific
logs/
*.log
*.hef
!models/*.hef
mediamtx
mediamtx.yml
